<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" id="headline">Vox News Scraper</h1>
    </div>
</div>


<div class="container">
    <div class="col-md-12">
        <div id="articles">
            <div id="card">
                <div id="card-body">
                    
                </div>
            </div>
        </div>
    </div>



    <div id="notes"></div>

</div>